html {
    background: #ffffff;
}
a{
    color: black;
    text-decoration: none;
    padding-right: 5px;
}
.right{
    float: right;
}
.backTag{
    text-align: right;
}
.complete{
    background: grey;
    padding: 5px 0 5px 0;
    margin-left: 4px;
    margin-bottom: 4px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

    text-decoration-line: line-through;
}
.title{
    text-align: center;
}
.container{
    float: left;
    width: 33%;

}
.high{
    padding: 5px 0 5px 5px;
    margin-left: 4px;
    margin-bottom: 4px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background: #df8075;

}
.medium{
    padding: 5px 0 5px 5px;
    margin-bottom: 4px;
    margin-left: 4px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background: #dfd675;

}
.low{
    margin-left: 4px;
    padding: 5px 0 5px 5px;
    margin-bottom: 4px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background: #75df7a;

}
.box2{
    position: relative;
    padding-top: 10px;
    /*padding-bottom 25px;*/
    /*margin-l: 20px;*/
    /*text-align: center;*/
    background: aliceblue;
    width:60%;
    /*height: 300px;*/
    margin: 10px auto 10px auto;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.center{
    width: 30%;
    margin: 5px auto 25px auto;
    padding-bottom: 15px;

}
.center2 {
    width: 60%;
    margin-left: auto;
    margin-right: auto;

}
.boxMy{
    position: relative;
    text-align: center;
    background: aliceblue;
    width:40%;
    height: 300px;
    margin: 100px auto auto auto;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.paddingTop{
    padding-top: 10%;
}
.tf{
    padding-left: 150px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;

}

